{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'accounts/signin.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">



      <form class="form-signin" role="form" method = "post" action="{% url 'accounts:login' %}">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="uname" class="form-control" placeholder="Nick name" required autofocus>
        <input type="password" name="passwd" class="form-control" placeholder="Password" required>
<!--         <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->

        {% if error_message %}
            <p class="alert alert-danger"><strong>{{ error_message }}</strong></p>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br /><a href="/admin/">Super User?</a>
      </form>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
